html {


}


























                                                                                  html {
                                                                                    -webkit-font-smoothing: antialiased; }

                                                                                    #fb_new_comment textarea {
                                                                                      margin: 20px auto 0 auto; }

                                                                                      h1, h2 {
                                                                                        font-family: 'PT Serif', "Georgia", "Times New Roman", Times, "Songti SC", "SimSun",
                                                                                                                                                                                sans-serif; }

                                                                                        a {
                                                                                          text-decoration: none; }

                                                                                          hr {
                                                                                            margin: 3.2em 0;
                                                                                            border: none;
                                                                                            border-bottom: 1px solid #eee; }

                                                                                            table {
                                                                                              -moz-box-sizing: border-box;
                                                                                              box-sizing: border-box;
                                                                                              margin: 1em 0;
                                                                                              width: 100%;
                                                                                              max-width: 100%;
                                                                                              border-width: 1px;
                                                                                              border-style: solid;
                                                                                              background-color: transparent; }

                                                                                              table, table tr, table tr td, table tr th {
                                                                                                border-color: #e5e5e5; }

                                                                                                table th {
                                                                                                  color: #666666;
                                                                                                  background-color: #fdfdfd; }

                                                                                                  tr th {
                                                                                                    border-bottom-width: 1px;
                                                                                                    border-bottom-style: solid;
                                                                                                    text-align: left; }

                                                                                                    tr th, tr td {
                                                                                                      padding: 5px 20px;
                                                                                                      border-right: 1px solid;
                                                                                                      font-size: 1rem; }

                                                                                                      tr th:last-child, tr td:last-child {
                                                                                                        border-right: 0px; }

                                                                                                        table th {
                                                                                                          font-weight: bold; }

                                                                                                          table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th {
                                                                                                            background-color: #f9f9f9; }

                                                                                                            #header {
                                                                                                              height: 50px;
                                                                                                              border-bottom: 1px solid #eee;
                                                                                                              text-align: right; }
                                                                                                              #header #nav_wrap {
                                                                                                                float: right; }
                                                                                                                #header #nav {
                                                                                                                  font-size: 14px;
                                                                                                                  list-style: none;
                                                                                                                  margin-top: 20px; }
                                                                                                                  #header #nav li {
                                                                                                                    float: left;
                                                                                                                    margin-right: 50px; }
                                                                                                                    #header #nav li a {
                                                                                                                      color: #111;
                                                                                                                      text-decoration: none; }
                                                                                                                      #header #nav li a:hover, #header #nav li a.selected {
                                                                                                                        color: #000;
                                                                                                                        border-bottom: 1px dashed #999; }
                                                                                body {
                                                                                  font: 400 16px / 1.62 'PT Sans', "HelveticaNeue", "Helvetica Neue", Helvetica,
                                                                                                                                                                    Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
                                                                                  line-height: 1.9;
                                                                                  width: 100%;
                                                                                  margin: 0 auto;
                                                                                  max-width: 920px; }

.post {
  color: #222; }
  .post .title {
    color: #000;
    font-size: 2.3em;
    padding: 0.5em 0 1.5em 0;
    margin: 1em 0 2em 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    line-height: 1.2; }
    .post img {
      max-width: 100%; }
      .post .content {
        margin: 0 0 3em 0; }
        .post .content .info .date {
          margin-top: 3em;
          padding: 1em 0;
          color: #999;
          text-align: right;
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee; }
  .post p {
    margin: 0 0 1.5em; }
    .post .p_part {
      margin-bottom: 1.2em;
      margin-top: 1.5em; }
      .post a {
        color: #111;
        border-bottom: 1px solid #ccc; }
        .post a:hover {
          border-bottom: 1px solid #888; }
  .post .toc {
    line-height: 2.1;
    padding: 30px 0;
    border: 1px solid #eee;
    margin: 0 0 50px 0; }
    .post .toc ul {
      padding-left: 2em; }
      .post .toc li ul {
        margin: 0;
        padding-top: 0; }
    .post .toc a {
      text-decoration: none;
      border-bottom: 1px dotted #eee; }
      .post .toc a:hover {
        border-bottom: 1px solid #ccc; }
  .post blockquote {
    color: #777;
    display: block;
    text-align: justify;
    border-left: 4px solid #16B0FF;
    margin: 1em 0 1em -1em;
    padding-left: 0.5em; }
    .post pre {
      border: none;
      background: none;
      border-top: 1px dashed #ddd;
      border-bottom: 1px dashed #ddd;
      margin: 1.2em -2px;
      padding: 15px 20px;
      font-size: 14px;
      font-family: Menlo, monospace;
      line-height: 2;
      display: block;
      overflow: auto;
      max-width: 800px; }
      .post ul, .post ol {
        padding-left: 0;
        margin: -0.6em 0 1.8em 1em;
        line-height: 2.1; }
        .post h1, .post h2 {
          margin: 1.5em 0 1.2em 0; }
          .post h3, .post h4, .post h5, .post h6 {
            margin: 0.8em 0 1em 0;
            color: #488fd6; }
            .post h1 {
              font-size: 1.6em; }
              .post h2 {
                font-size: 1.35em; }
                .post h3 {
                  font-size: 1.1em; }
                  .post h4, .post h5, .post h6 {
                    font-size: 1.05em; }

.new_post {
  margin: 50px 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #eee; }
  .new_post a {
    color: #000;
    text-decoration: none; }
    .new_post h2 {
      font-size: 2.2em; }
      .new_post h2 a:hover {
        text-decoration: underline; }
  .new_post .summary {
    display: block; }
    .new_post .summary:hover {
      background: #f6f6f6; }
      .new_post .summary img {
        display: block;
        max-width: 100%;
        margin: 0 auto; }

.categories {
  list-style: none;
  display: block;
  clear: both;
  padding: 0;
  margin-top: 50px; }
  .categories a {
    text-decoration: none;
    color: #333; }
    .categories li {
      font-size: 16px;
      display: inline-block;
      *display: inline;
      text-align: left;
      position: relative; }
      .categories li h3 {
        font-size: 1.2em;
        word-wrap: break-word;
        overflow: hidden;
        font-weight: normal; }
        .categories li span {
          color: #999;
          font-size: 0.8em; }
          .categories li a {
            margin: 20px 40px;
            width: 150px;
            float: left;
            height: 165px;
            border: 1px solid #c8c8c8;
            padding: 60px 30px; }
            .categories li a:hover {
              border: 1px solid #b7b7b7;
              -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
              .categories li a:hover h3 {
                padding-left: 2px; }

#category_posts, .archive {
  margin: 60px 0 100px 0; }
  #category_posts h1, .archive h1 {
    text-align: center; }
    #category_posts ul, .archive ul {
      margin: 0 0 15px 0;
      padding: 0;
      list-style: none; }
      #category_posts ul li, .archive ul li {
        padding: 20px 15px 20px; }
        #category_posts ul li a, .archive ul li a {
          color: #333; }
          #category_posts ul li a:hover, .archive ul li a:hover {
            border-bottom: 1px solid #ccc; }
        #category_posts ul li .date, .archive ul li .date {
          float: right;
          text-align: right; }

.pager {
  position: relative;
  height: 57px;
  margin: 50px 0 0 0; }
  .pager a {
    color: #333;
    letter-spacing: 1px;
    font-size: 14px;
    text-decoration: none;
    text-align: center; }
    .pager a:hover {
      border-bottom: 1px dashed #333; }
  .pager .next {
    position: absolute;
    right: 0; }
    .pager .pre {
      position: absolute;
      left: 0; }

code {
  background: #fcfcf4;
  padding: 0 2px;
  margin: 0 2px; }

  pre code {
    background: none; }

    #footer {
      clear: both;
      margin: 50px 0 30px 0;
      padding-top: 20px;
      border-top: 1px solid #eee;
      text-align: center; }
      #footer a {
        font-size: 12px;
        color: #999; }
        #footer a:hover {
          color: #333;
          border-bottom: 1px dashed #ccc; }

@media screen and (max-width: 480px) {
  body {
    width: 95%;   }
    #header #nav_wrap {
      float: left;   }
      #header #nav {
        padding: 0;   }
        #header #nav li {
          margin-right: 15px;   }
}

.hll {
  background-color: #ffffcc; }

  .c {
    color: #60a0b0;
    font-style: italic; }

    .k {
      color: #007020;
      font-weight: bold; }

      .o {
        color: #666666; }

        .cm {
          color: #60a0b0;
          font-style: italic; }

          .cp {
            color: #007020; }

            .c1 {
              color: #60a0b0;
              font-style: italic; }

              .cs {
                color: #60a0b0;
                background-color: #fff0f0; }

                .gd {
                  color: #A00000; }

                  .ge {
                    font-style: italic; }

                    .gr {
                      color: #FF0000; }

                      .gh {
                        color: #000080;
                        font-weight: bold; }

                        .gi {
                          color: #00A000; }

                          .go {
                            color: #808080; }

                            .gp {
                              color: #c65d09;
                              font-weight: bold; }

                              .gs {
                                font-weight: bold; }

                                .gu {
                                  color: #800080;
                                  font-weight: bold; }

                                  .gt {
                                    color: #0040D0; }

                                    .kc {
                                      color: #007020;
                                      font-weight: bold; }

                                      .kd {
                                        color: #007020;
                                        font-weight: bold; }

                                        .kn {
                                          color: #007020;
                                          font-weight: bold; }

                                          .kp {
                                            color: #007020; }

                                            .kr {
                                              color: #007020;
                                              font-weight: bold; }

                                              .kt {
                                                color: #902000; }

                                                .m {
                                                  color: #40a070; }

                                                  .s {
                                                    color: #4070a0; }

                                                    .na {
                                                      color: #4070a0; }

                                                      .nb {
                                                        color: #007020; }

                                                        .nc {
                                                          color: #0e84b5;
                                                          font-weight: bold; }

                                                          .no {
                                                            color: #60add5; }

                                                            .nd {
                                                              color: #555555;
                                                              font-weight: bold; }

                                                              .ni {
                                                                color: #d55537;
                                                                font-weight: bold; }

                                                                .ne {
                                                                  color: #007020; }

                                                                  .nf {
                                                                    color: #06287e; }

                                                                    .nl {
                                                                      color: #002070;
                                                                      font-weight: bold; }

                                                                      .nn {
                                                                        color: #0e84b5;
                                                                        font-weight: bold; }

                                                                        .nt {
                                                                          color: #062873;
                                                                          font-weight: bold; }

                                                                          .nv {
                                                                            color: #bb60d5; }

                                                                            .ow {
                                                                              color: #007020;
                                                                              font-weight: bold; }

                                                                              .w {
                                                                                color: #bbbbbb; }

                                                                                .mf {
                                                                                  color: #40a070; }

                                                                                  .mh {
                                                                                    color: #40a070; }

                                                                                    .mi {
                                                                                      color: #40a070; }

                                                                                      .mo {
                                                                                        color: #40a070; }

                                                                                        .sb {
                                                                                          color: #4070a0; }

                                                                                          .sc {
                                                                                            color: #4070a0; }

                                                                                            .sd {
                                                                                              color: #4070a0;
                                                                                              font-style: italic; }

                                                                                              .s2 {
                                                                                                color: #4070a0; }

                                                                                                .se {
                                                                                                  color: #4070a0;
                                                                                                  font-weight: bold; }

                                                                                                  .sh {
                                                                                                    color: #4070a0; }

                                                                                                    .si {
                                                                                                      color: #70a0d0;
                                                                                                      font-style: italic; }

                                                                                                      .sx {
                                                                                                        color: #c65d09; }

                                                                                                        .sr {
                                                                                                          color: #235388; }

                                                                                                          .s1 {
                                                                                                            color: #4070a0; }

                                                                                                            .ss {
                                                                                                              color: #517918; }

                                                                                                              .bp {
                                                                                                                color: #007020; }

                                                                                                                .vc {
                                                                                                                  color: #bb60d5; }

                                                                                                                  .vg {
                                                                                                                    color: #bb60d5; }

                                                                                                                    .vi {
                                                                                                                      color: #bb60d5; }

                                                                                                                      .il {
                                                                                                                        color: #40a070; }