{% macro render_buttons() %}
    <hr>
    <div class="form-group">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="btn btn-primary" id="print_submit" name="print_submit" value="发布文章" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" class="btn btn-default" id="save_submit" name="save_submit" value="保存文章" />

    </div>
{% endmacro %}

{% macro render_errors(field) %}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}

{% macro render_field_label(field) %}
        <li>
          <label>{{ field.label }}:</label>
          {{ field(**kwargs)|safe }}
        </li>
  {% if field.errors %}
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  {% endif %}
{% endmacro %}


{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  {% endif %}
{% endmacro %}


