{% extends 'admin/master.html' %}
{% block body %}
    	{% block brand %}
    	<h2 id="brand"></h2>
    	{% endblock %}
    <style type="text/css">
     .guding{width:500px;height:666px;margin-left:100px;position:relative;}

    </style>
    <div class="guding">
    <br/>如何<br/><br/>

<br/>你要如何原谅彼时此时的愚蠢
<br/>如何原谅奋力过但无声
<br/>在苦心之后看潮汐的永恒
<br/>岁月在这儿 温凉如丝 却也能灼身
<br/>青春是远方 流动的河
<br/>
<br/>你要如何原谅时光遗失的过程
<br/>要如何才能容忍它发生
<br/>要如何才能想而不问
<br/>
<br/>而我在这里等
<br/>等湿透的心听雨声
<br/>等身体回温
<br/>
<br/>城里，夜如海洋
<br/>（每夜）
<br/>所有在明灭的窗
<br/>虚但不假
<br/>
<br/>你要如何离别仍需游荡的旅人
<br/>要如何让缘分就是缘分
<br/>如何凝视缘分看我们 的每种眼神
<br/>
<br/>而我
<br/>不停地
<br/>无悔的
<br/>与你的
<br/>
<br/>总有的
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    </div>
{% endblock body %}