{% extends "blog/base.html" %}

 {% block body %}
<div id="main">

<div class="detail_post">
  <div class="post">
    <h2 class="title"><a href="#">{{ article.title }}</a>
    </h2>
    <div class="post_body"><p>
        {{ article.html_text | safe }}
    </div>
    <div class="info"><span title="Public Date" class="date"><i class="fa fa-clock-o"></i>&nbsp;
{{ moment(article.create_time).format('LLLL') }}
</span><span title="Views" class="visitors"><i class="fa fa-user"></i>&nbsp;
{{ article.visit_num }}
</span>
      <div class="other_posts">
          {% if pre_article %}
          <a href="{{ url_for('blog.article', article_id=pre_article.id) }}" class="pre">&lt; {{ pre_article.title }}</a>
          {% endif %}
          {% if next_article %}
          <a href="{{ url_for('blog.article', article_id=next_article.id) }}" class="next">{{ next_article.title }} &gt;</a>
          {% endif %}
      </div>
    </div>
  </div>
</div>

      </div>
{% endblock %}