<!DOCTYPE html>
<html>
<head>
{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="我是个笨孩子，但老师说勤能补拙">
    <meta property="og:type" content="website">
    <meta property="og:title" content="城里 夜如海洋">
    <meta property="og:url" content="www.huangzp.com">
    <meta property="og:site_name" content="I AM HUANGZP">
    <meta property="og:description" content="在苦心之后 看潮汐的永恒">
    <meta property="og:keywords" content="python,data analysis,flask,machine learning,huangzp,magicroc">



    <link href="{{ url_for('static', filename='blog/css/blog.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='blog/css/font-awesome.min.css') }}" rel="stylesheet">
{% endblock %}
</head>



{% block information %}
    <div id="body_wrapper">
      <header class="header">
        <div class="header_wrapper">
          <div class="logo"><img src="/static/blog/pic/me.png">
          </div>
          <h1 class="title"><a href="#">I AM HUANGZP</a>
          </h1>
          <div class="aboutInfo clearfix">
            <div class="aboutMe">
    This is based on the Flask website,the background based on Flask-admin<br> rewritten a little Flask-admin code. Use editor.md to integrate rich text editors<br>
The code is hosted on <a href="https://github.com/huang-zp/MagicPress" target="_blank">GitHub</a>
            </div>
            <div class="followMe">
    Embrace open source, like Python<br> have a strong interest in data analysis<br> hoping to be successful in the field of machine learning.
            </div>
          </div>
        </div>
      </header>
{% endblock %}



<body>
{% block body %}

{% endblock %}
</body>



{% block footer %}
      <div id="footer">
        <ul class="nav clearfix">
          <li><a href="#">Home</a>
          </li>
          <li><a href="{{ url_for('.category') }}">Categories</a>
          </li>
          <li><a href="#">Archive</a>
          </li>
          <li><a href="#">Album</a>
          </li>
        </ul>
        <div class="powered_by"><a href="https://github.com/huang-zp/MagicPress" target="_blank">Powered By MagicPress</a>
        </div>
      </div>
    </div>
{% endblock %}

</html>
